# File types #
##############
*.pyc
*.swo
*.swp
*.swn

# Directories #
###############
logs/
**src/script

# Specific files #
##################
variables.py
tiger/tiger_variables.py
eagle/eagle_variables.py
leopard/leopard_variables.py
settings/export_settings.py
settings/settings.py
formatting/excel_export_format.py
.vscode
__pycache__
settings/classes/counties.py