# File types #
##############
*.pyc
*.swo
*.swp
*.swn
*.DS_Store

# Directories #
###############
logs/
**src/script

# Specific files #
##################
classes/counties.py
settings/county_variables
variables.py
project_management/export_settings/settings.py
settings/hyperlink_settings.py
settings/settings.py
formatting/excel_export_format.py
.vscode
__pycache__