# File types #
##############
*.pyc
*.swo
*.swp
*.swn
*.DS_Store

# Directories #
###############
logs/
**src/script

# Specific files #
##################
classes/counties.py
settings/county_variables
project_management/export_settings/authorship.py
settings/settings.py
.vscode
__pycache__