appdirs==1.4.4
asgiref==3.3.1
astroid==2.4.2
certifi==2020.12.5
chardet==4.0.0
chromedriver==2.24.1
colorama==0.4.4
configparser==5.0.1
crayons==0.4.0
distlib==0.3.1
et-xmlfile==1.0.1
filelock==3.0.12
flake8==3.9.2
idna==2.10
isort==5.7.0
jdcal==1.4.1
jedi==0.18.0
lazy-object-proxy==1.4.3
mccabe==0.6.1
numpy==1.19.5
openpyxl==3.0.6
pandas==1.2.1
parso==0.8.2
pep8==1.7.1
pycodestyle==2.7.0
pyflakes==2.3.1
pylint==2.6.0
python-dateutil==2.8.1
pytz==2020.5
requests==2.25.1
selenium==3.141.0
six==1.15.0
sqlparse==0.4.1
toml==0.10.2
urllib3==1.26.5
virtualenv==20.4.2
webdriver-manager==3.3.0
wrapt==1.12.1
xlrd==2.0.1
XlsxWriter==1.3.7
